<section class="darkbg commentdiv">
    <form class="new-comment-form">
        <div class="form-group">
            <input type="text" id="comment-content" name="comment-content" class="form-input"/>
        </div>
        <button type="submit">Comment</button>
    </form>
</section>

<script src="/js/comment.js"></script>