<section class="darkbg commentdiv">
    <form class="new-comment-form">
        <div class="form-group">
            <input type="text" id="comment-content" name="comment-content" />
        </div>
        <button>Comment</button>
    </form>
</section>