<section class="green card location margin">
    
    <h3 class="info padding margin">
        {{name}}
    </h3>
    {{!-- TO DO: MAKE FRONT END FETCH REQUEST FOR LOCATION ID --}}
    <button class="locBtn btn margin" id='{{id}}'>
    View
    </button>
</section>