<section class="info card">
    <h3>
        {{name}}
    </h3>
    {{!-- TO DO: MAKE FRONT END FETCH REQUEST FOR LOCATION ID --}}
    <button class="locBtn btn" id='{{id}}'>
    View
    </button>
</section>