
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Blog</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Young+Serif&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Young+Serif&display=swap');</style>
</head>
<body>
    <nav>
        <div class="container">
        <h2 class="logo">
            Travel Blog
        </h2>
        <div class="button" id="home">Home</div>
        <div class="button" id="location">See Locations</div>
        <div class="button" id="dashboard">Your dashboard</div>
        <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Search for locations...">
        </div>
            <label class="button" id="btn-create" for="create-post">Create</label>
            <div class="profile-picture">
                <img src="https://exotic-landscapes.com/wp-content/uploads/2022/04/Sin-titulo-1-03-min.png" alt="Profile Picture.">
            </div>
            <div class="button"></div>
        
            {{#if loggedIn}}
            <a href="/home">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}} 
        </div>
        </div>
    </nav>
    <div id="middle" class="feeds">
        {{{body}}}
    </div>
</body>
</html>
