
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Blog</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
    
    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.css" crossorigin="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Young+Serif&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Young+Serif&display=swap');</style>

{{!-- PERSONAL CSS --}}
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <div class="container">
        <h2 class="logo">
            Travel Blog
        </h2>
        <a href="/" class="button" id="home">Home</a>
        <a href="/locations" class="button" id="location">See Locations</a>
        <a href="/dashboard" class="button" id="dashboard">Your dashboard</a>
<div class="search-bar">
    <form id="search-form">
        <input type="search" id="search-input" placeholder="Search for locations...">
        <button type="submit">Search</button>
    </form>
</div>

            {{#if logged_in}}
            <a id="logout" class="button" href="/">Logout</a>
            {{else}}
            <a class="button" href="/login">Login</a>
            <a class="button" href="/signup">Sign Up</a>
            {{/if}} 



        </div>
        </div>
    </nav>
    <div id="middle" class="feeds">
        {{{body}}}
    </div>

    
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
    <script src="/js/search.js"></script>
     
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.js" crossorigin=""></script>


     <script src="/js/map.js"></script>
    

</body>
</html>

