<section class="blog-item">
          <div class="blog-item__title">{{blog_title}}</div>
          <div class="blog-item__content">{{blog_content}}</div>
       
          <div>
            <p>Created by: {{user.username}}</p>
          </div>
</section>
<section>
  {{#each comments as |comment|}}
    {{> comment}}
    {{/each}}
</section>