<div class="info homediv">
    <h3>Create a Memories:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Location:</label>
        {{!-- Dropdown? TO DO: GET REQUEST LOCATIONS TO BLOG! --}}
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
{{!-- Input information here --}}
      <div class="form-group">
        <label for="blog-content">Your experience:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        {{!-- TO DO: WHEN YOU HIT THIS BUTTON GET REQUEST TO DASHBOARD!! --}}
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>


    {{#if blogs.length}}
    <div>
      <h3>Memories:</h3>
      <ul class="blog-list">
        {{#each blogs}}
        {{> blog_card}}
        {{/each}}
      </ul>
      {{/if}}
    </div>
</div>

<script src="/js/blog.js"></script>
```