<section class="info homediv padding">
    <h3>Here Are Your Journies {{this.user.username}}!</h3>
</section>
    <div class="blog-list centerdiv">
          {{#each blogs}}
              {{> blog_card}}
          {{/each}}
    </div>