<div class="info homediv padding">

    <form class="form signup-form form-group flex">
      <h2 class="form-title">Signup</h2>
      <h3 id="error-sign"></h3>
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for=" email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
    <a class="loginlink" href="/login">Have an existing account? Login!</a>
</div>
<script src="/js/signup.js"></script>
