@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Young+Serif&display=swap');

:root{
--color-dark: (252,30% 17%);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background-image: url(https://img.wallpapersafari.com/desktop/728/410/86/73/nv689z.jpg);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-picture{
    width: 2.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 20;
    font-weight: 500;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn-create {
    background: black;
   color: white;
}
    
.text-bold{
    font-weight: 500;
}

nav{
    width: 100%;
    background-color: rgb(17, 16, 16);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
 nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 nav .search-bar{
    color: (255,243,228);
    background: rgb(255, 243, 228);
    border-radius: 0%;
    padding: 10px;
 }

 nav .search-bar input[type="search"] {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background: transparent;
    width: 30vw;
    margin-left: 1 rem;
    color: rgb(17, 16, 16);
}

nav .search-bar input[type="search"]::placeholder{
    color: rgb(27, 26, 26);
    font-size: 17px;
}

.logo {
    color: antiquewhite;
    font-size:35px;
}

.button{
    color: antiquewhite;
    cursor: pointer;
    text-decoration: none;
}

.button:hover{
    color: brown;
}

.middle .feeds .feed{
    align-items: center;
    background: antiquewhite;
    border-radius: 3%;
    padding: 15;
    margin: 1rem 0;
    font: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head{
    display: flex;
    justify-content: space-between;
}

.middle .feed .user{
    display: flex;
    gap: 1rem;
}

.middle .feed .phot.post{
  border-radius: 3%;
  overflow: hidden;
  margin: 0.7rem;  
}

.post{
width: 550px;
border-radius: 3%;
}

.info{
    background: antiquewhite;
}

.signup-form, .login-form{
    padding: 10rem;
}


/* Map CSS !DO NOT TOUCH! */
.homediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh;
}

.card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.home-map{
    display: flex;
    height: 30vh; 
    Width: 80vw;
}


/* locations CSS */

